<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>AuthAAI</name>
        <type>plugin</type>
        <creationDate>2018-03-19</creationDate>
        <last_update>2023-03-19</last_update>
        <author>UPDigital - mferraz@uporto.pt</author>
        <authorUrl></authorUrl>
        <version>1.0.0</version>
        <license></license>
        <description><![CDATA[Shibboleth Authentication.]]></description>
    </metadata>

    <compatibility>
        <version>4.0</version>
        <version>6.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
